html,
body {
    margin: 0;
    padding: 0;
}

body {
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center
}

h1 {
    font-size: 4em;
    font-family: monospace;
    margin: 0;
    padding: 0;
    position: absolute;
    margin: 0;
    position: absolute;
    top: 5%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

canvas {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 10px solid rgb(78, 78, 78);
}